html {
    --cell-size: 50px;
    --color-one: #0bad93;
    --color-two: #fffdd8;
    --color-hit: green;
    --color-splash: red;
    font-family: "Lucida Console", sans-serif;
    text-align: center;
}

h3 {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-one);
}

p {
    margin: 1rem 0;
}

strong {
    font-weight: bold;
}

#grid {
    font-size: 14px;
    display: inline-block;
    margin: 1rem 0;

    border: 1px solid var(--color-one);
}

.row {
    background-color: var(--color-two);
    display: flex;
}

.cell {
    color: var(--color-one);
    font-size: 1.2rem;
    text-align: center;
    width: var(--cell-size);
    height: var(--cell-size);
    line-height: var(--cell-size);
    white-space: nowrap;
    flex-grow: 1;
    border-bottom: 1px solid var(--color-one);
    border-right: 1px solid var(--color-one);
}

header.cell {
    background-color: var(--color-one);
    color: var(--color-two);
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}

.row:last-child .cell {
    border-bottom: 0;
}

.row .cell:last-child {
    border-right: 0;
}

#actions {
    display: none;
    width: 50%;
    min-height: 120px;
    color: var(--color-one);
    border: 1px solid black;
    padding: 0.5rem;
    margin: 1rem auto;
    max-height: 3rem;
    overflow: auto;
    font-size: 1rem;
    color: white;
}

#hide-actions {
    display :none;
}

/* cells classes */
.cell.hit {
    background-color: var(--color-hit);
    font-size: 0;
}

.cell.splash {
    background-color: var(--color-splash);
    font-size: 0;
}

/* themes */
#themes {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

label {
    color: var(--color-one);
    padding-right: 0.5rem;
    font-weight: bold;
}

select {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

body.f0f {
    --color-one: #ff00ff;
    --color-two: #00ffff;
    --color-hit: #00ff00;
    --color-splash:#ffaa00;
}

body.black-and-white {
    --color-one: #000;
    --color-two: #fff;
    --color-hit: #aaa;
    --color-splash: #666;
}

body.terminal {
    background-color: black;
    color: #33ff00;
    --color-one: #33ff00;
    --color-two: #000;
    --color-hit: #33ff00;
    --color-splash: #ffbb00;
}

body.dark {
    background-color: rgb(24, 24, 24);
    color: white;
    --color-one: #304977;
    --color-two: rgb(218, 218, 218);
    --color-hit: #47c747;
    --color-splash:#e4b558;
}

div.cell:hover {
    background-color: var(--color-one);
    cursor: crosshair;
}